* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Montserrat, sans-serif;
}

.paragraph_geral {
  color: #475550; /* pode se colocar a cor como esta acima, de forma nominal (red) e rgb. O mais comum e o exagesimal*/
}

.trybe_green {
  color: #11a36a;
  line-height: 55px;
  font-weight: 600;
  font-size: 45px;
  letter-spacing: -1px;
  margin-bottom: 30px;
}

.section-title {
  line-height: 42px;
  font-weight: 600;
  font-size: 28px;
  margin-bottom: 30px;
}

.testimonial_name {
  line-height: 20px;
  font-size: 14px;
  font-weight: 600;
}

.picture {
  border-radius: 50%;
  /* posso colocar valores diferentes para cada borda, separo cada valor por espacos: 40px 50px 30px 60px. Se uso dois valores (50px 40px) eles se repetem nos lados opostos */
}

.button {
  background-color: #11a36a;
  border-radius: 4px;
  padding: 15px 30px;
  color: #ffffff;
  text-decoration: none;
}

.header {
  background-image: url("images/smiling-image.jpeg");
  background-size: cover;
  padding: 60px 30px 40px 30px;
  background-position: 50% 25%;
}

.header-content {
  max-width: 60%;
  margin-left: 75px;
}

.header-text {
  max-width: 80%; /*Header-text esta dentro de header-content que ya tiene una largura maxima de 60%, el cual es el 100% de header-text*/
  text-align: left;
}

.header-text p {
  margin-bottom: 30px;
}

.market {
  padding: 70px 30px;
  text-align: center;
}

.market-text {
  max-width: 60%;
  margin: auto;
}

.market-text p {
  margin-bottom: 30px;
}

.student-testimonial {
  padding: 30px 70px 90px 70px;
  width: 80%;
  margin: auto;
}

.student-container {
  width: 30%;
  text-align: center;
  margin: 10px;
  display: inline-block;
  vertical-align: top;
  /*usar background-color para visualizar como estao alinhados os blocos, depois tirar*/
}

.student-container p {
  margin: 10px;
}